<h1>Listing comics</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Size</th>
      <th>Title</th>
      <th>Packed</th>
      <th>Need Fixing</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<tr>
        <td></td>
        <td></td>
        <td><%= select(:filter, "size",Size.all.collect {|s| [ s.name, s.id ] }, {include_blank: 'Selecione'}) %></td>
        <td><%= select(:filter, "title",Title.all.collect {|t| [ t.name, t.id ] }, {include_blank: 'Selecione'}) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% @filterer.results.each do |comic| %>
      <tr>
        <td><%= comic.number %></td>
        <td><%= comic.name %></td>
        <td><%= comic.size.name %></td>
        <td><%= comic.title.name %></td>
        <td><%= comic.packed %></td>
        <td><%= comic.need_fixing %></td>
        <td><%= link_to 'Show', comic %></td>
        <td><%= link_to 'Edit', edit_comic_path(comic) %></td>
        <td><%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script javascript>
    $(function() {
  $('#filter_title').change(function(){
  	window.location = "?title="+$(this).val();
  	
  });
  $('#filter_size').change(function(){
  	window.location = "?size="+$(this).val();
  	
  });
});
</script>


<%= link_to 'New Comic', new_comic_path %>
